# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
venv


# Log files
*.log
backend/log_files/

# Temporary files
backend/temp/

# Leads Data — ignore all CSVs, keep folders
*.csv
!*/.gitkeep

# Ignore driver and browser binaries
config/drivers/
config/tor/
config/chrome_profiles/
# VS Code workspace file
outreach_system.code-workspace

test2.py
testfile.py